/* stili generali */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 60%;
    margin: 0 auto 50px auto;

}

header{
    height: 70px;
    background-color:white;
}

.jumbotrone{
    background-color: #b3cfe6;
    margin-bottom: 90px;
    padding-bottom: 40px;
}

/* stili per le sezioni */

.sezione-1{
    min-height: 500px;
    background-color:lightseagreen;
}

.sezione-2{
    min-height: 150px;
    background-color:lightyellow;
}

.sezione-4{
    min-height: 400px;
    background-color: lightslategray;
}

.sezione-5{
    min-height: 100px;
    background-color: lime;
}

.sezione-6{
    min-height: 350px;
    background-color: tan;
}

.sezione-7{
    min-height: 200px;
    background-color: #b3cfe6;
}

.sezione-8{
    min-height: 400px;
    margin-top: 50px;
    background-color: purple;
}

footer{
    margin-top: 40px;
    min-height: 250px;
    background-color: black;
}

/* header */

header .menù{
    width: 95%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

header .menù ul{
    display: inline-block;
    list-style: none;
    padding-top: 30px;
}

header .menù ul li{
    display: inline-block;
    font-size: 13px;
    padding-bottom: 21px;
    margin-left: 13px;
}

header .menù img{
    float: left;
    margin-top: 25px;
}

/* float */

header .menù .lista-destra{
    float: right;
}

header .menù .lista-sinistra{
    float: left;
}

/* bottoni */

.btn{
    padding: 7px 13px;
    background-color:royalblue;
    color: white;
}

.bianco{
    color: black;
    background-color: white;
    border: 1px solid lightgray;
}

header .menù ul li:hover{
    border-bottom: 2px solid black;
}

/* jumbotrone */

main .contenuto-jumbo{
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}

main .jumbotrone h1{
    font-size: 60px;
    margin-bottom: 30px;
}

main .contenuto-jumbo p{
    width: 40%;
    padding: 15px 0px 30px 0px;
}

.img-jumbo{
    width: 60%;
    position: absolute;
    right: 0px;
    top: 230px;
}

/* sezione 3 */

.sezione-3 .contenuto-3 img{
    width: 50%;
    float: left;
    
}

.sezione-3 .contenuto-3 .testo-3{
    width: 45%;
    float: left;
    margin: 40px 0px 0px 30px;
}

.sezione-3 .contenuto-3 .testo-3 h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.sezione-3 .contenuto-3 .testo-3 p{
    padding-bottom: 30px;
    font-size: 15px;
}

/* sezione 7 */

.sezione-7 h2{
    display: inline-block;
    width: 50%;
    font-size: 30px;
    padding-top: 60px;
    color:maroon;
}

.eccezione{
    float: right;
    margin-top: 80px;
}